.carousel {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-columns: 1fr;
  position: relative;
  height: 470px;
  width: 100%;
  max-width: 700px;
  overflow: hidden;
  border-radius: 40px;
  .slideWrapper {
    position: relative;
    grid-column: 1;
    grid-row: 1;
    width: 100%;
    max-width: 700px;
    transition: opacity ease-in-out 0.5s;
    opacity: 0;
    z-index: 1;
    border-radius: 40px;
    overflow: hidden;
    &.current {
      z-index: 10;
      opacity: 1;
    }
    img {
      object-fit: cover;
      width: 100%;
      max-width: 700px;
    }
  }
  .btnPrev, .btnNext {
    width: 48px;
    height: 48px;
    position: absolute;
    z-index: 20;
    top: calc(50% - 24px);
    border: 0;
    background-color: var(--white);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5);
    transform: scale(1);
    opacity: 0.7;
    transition: transform ease-in-out 0.2s, opacity ease-in-out 0.2s;
    svg {
      width: 2rem;
    }
    &:hover {
      transform: scale(1.1);
      opacity: 1;
    }
  }
  .btnPrev {
    left: 1rem;
  }
  .btnNext {
    left: auto;
    right: 1rem;
  }
}