@import "variables";
@import "fonts";

* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Nunito-Sans', sans-serif;
  font-size: 16px;
}

@import "type";

a {
  color: inherit;
  text-decoration: none;
}

.section {
  width: 100%;
  display: flex;
  justify-content: center;
}

.container {
  width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
  @media (min-width: 1200px) {
    max-width: 1200px;
  }
  @media (min-width: 1600px) {
    max-width: 1440px;
  }
}
.section-head {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  p {
    text-align: center;
    font-size: 1.25rem;
    line-height: 1.6;
  }
}
.theme-dark {
  background-color: var(--dark-gray);
  color: var(--white); 
  path, circle {
    fill: var(--white);
  }
  .display-2::before {
    background-color: var(--black);
  }
}
.btn-link, .btn-outline-link {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  font-size: 1.25rem;
  font-weight: 600;
  width: 180px;
  height: 54px;
  border: 2px solid;
}
.btn-link {
  background-color: var(--cornflower-blue);
  color: var(--white);
  border-color: var(--cornflower-blue);
  &:hover {
    filter: brightness(0.8);
  }
}
.btn-outline-link {
  background-color: var(--white);
  color: var(--cornflower-blue);
  border-color: var(--cornflower-blue);
  &:hover {
    background-color: var(--cornflower-blue);
    color: var(--white);
  }
}