.hero {
  padding-top: 4rem;
  padding-bottom: 4.5rem;
  p {
    font-size: 1.375rem;
  }
}
.how {
  padding-top: 4rem;
  padding-bottom: 4rem;
  h3 {
    margin-bottom: 1.375rem;
  }
  .grid {
    display: grid;
    gap: 1rem;
    @media (min-width: 900px) {
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 1fr;
      gap: 3rem;
    }
  }
  .icon {
    width: 4rem;
    height: 4rem;
    background-color: var(--black);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1.5rem;
    svg {
      width: 2.5rem;
    }
  }
  p {
    font-size: 1.25rem;
    line-height: 1.6;
  }
}
.where, .models {
  padding-top: 4rem;
  padding-bottom: 4rem;
}
.information {
  padding-top: 6rem;
  padding-bottom: 6rem;
  .flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @media (min-width: 900px) {
      flex-direction: row;
      align-items: flex-start;
    }
  }
  .imgWrapper {
    position: relative;
    margin-bottom: 2rem;
    height: 400px;
    width: 100%;
    max-width: 465px;
    img {
      object-fit: cover;
      width: 100%;
      max-width: 465px;
    }
    @media (min-width: 900px) {
      flex: 1 1 40%;
      height: 700px;
    }
  }
  .listWrapper {
   
    @media (min-width: 900px) {
      flex: 1 1 60%;
      margin-left: 4rem;
    }
  }
  .linkList {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    li {
      margin-bottom: 1.75rem;
      width: 100%;
      display: flex;
      a {
        border: 1px solid var(--med-gray);
        border-radius: 40px;
        font-size: 1.625rem;
        font-weight: 600;
        padding: 0 2rem 0 ;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 80px;
        .iconWrapper {
          display: inline-block;
          width: 2.5rem;
          height: 2.5rem;
          border: 2px solid var(--cornflower-blue);
          border-radius: 50%;
          display: flex;
          justify-content: center;
          align-items: center;
          svg {
            width: 1.5rem;
            path { fill: var(--cornflower-blue); }
          }
        }
        &:hover {
          background-color: var(--light-gray);
          .iconWrapper {
            background-color: var(--cornflower-blue);
            svg path {
              fill: var(--white);
            }
          }
        }
      }
    }
  }
}